$switchPrefixCls: rc-switch;

$duration: .1s;

button.#{$switchPrefixCls} {
  --track-padding: .25rem;
  --track-border-radius: .375rem;
  --track-height: 1.25rem;
  --track-width: 2rem;
  --track-box-shadow: inset 0 .0625rem .25rem rgba(0, 0, 0, .05);

  position: relative;
  display: inline-block;
  box-sizing: border-box;

  height: var(--track-height);
  width: var(--track-width);
  background: var(--p-color-icon-secondary);
  padding: var(--track-padding);
  box-shadow: var(--track-box-shadow);
  border: none;
  border-radius: var(--track-border-radius);
  cursor: pointer;
  transition: background var(--p-motion-duration-50) var(--p-motion-ease);

  &-inner {
    color: #fff;
    font-size: var(--p-space-300);
    position: absolute;
    left: var(--p-space-600);
    top: 0;
  }

  &:hover{
    background: var(--p-color-icon-secondary-hover);
  }

  &:after {
    position: absolute;
    left: var(--p-space-100);
    top: var(--p-space-100);
    content: " ";
    transform: scale(1);
    transition: left $duration cubic-bezier(0.35, 0, 0.25, 1);
    animation-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
    animation-duration: $duration;
    animation-name: rcSwitchOff;

    --knob-height: .75rem;
    --knob-width: .75rem;
    --knob-border-radius: .1875rem;
    height: var(--knob-height);
    width: var(--knob-width);
    border-radius: var(--knob-border-radius);
    background: var(--p-color-bg-surface);
  }

  &:focus {
    box-shadow: 0 0 0 2px tint(#2db7f5, 80%);
    outline: none;
  }

  &-checked {
    background: var(--p-color-bg-inverse);

    .#{$switchPrefixCls}-inner {
      left: 6px;
    }

    &:hover {
      background: var(--p-color-icon-hover);
    }

    &:after {
      right: var(--p-space-100);
      left: initial;
    }
  }

  &-disabled {
    cursor: no-drop;
    //background: #ccc;
    background: var(--p-color-bg-surface-secondary-selected);
    &:after {
      animation-name: none;
      cursor: no-drop;
    }
    &:hover {
      background: var(--p-color-bg-surface-secondary-selected);
    }
    &:hover:after {
      transform: scale(1);
      animation-name: none;
    }
  }

  &-label {
    display: inline-block;
    line-height: var(--p-space-500);
    font-size: 14px;
    padding-left: 10px;
    vertical-align: middle;
    white-space: normal;
    pointer-events: none;
    user-select: text;
  }
}

@keyframes rcSwitchOn {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes rcSwitchOff {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
